// All the SCSS Variables goes here
$font-family-base: 'Ubuntu', sans-serif;
$font-size-base: 1rem;
$font-size-base-sm: 0.875rem;

// general
$transition-timing : 0.4s;

// sidebar
$sidebar-width : 300px;

// form control
$input-padding-y: 0.75rem;
$input-placeholder-color: $cool-grey;

// btn
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;