input {

    &:focus-visible {
        outline: transparent auto 0px;
    }

    &::placeholder {
        font-weight: 500;
    }
}

.addons-form {
    .form-check-input {
        background-color: $secondary;
    }
}