input {

    &:focus-visible {
        outline: transparent auto 0px;
    }

    &::placeholder {
        font-weight: 500;
    }
}

.input-row {
    &:hover {
        border-color: $primary;
    }
}

.addons-form {
    .form-check-input {
        background-color: $light;

        &:checked {
            background-color: $secondary;
        }
    }
}