.multi-stepfom-container {
    width: 1000px;
    height: 670px;

    .form-container {
        padding: 3rem 6rem 2rem;
    }

    .form-title {

        font-size: 2rem;

    }

    .form-subtitle {
        font-size: 1rem;
    }

    .form-btn {
        padding-top: 6rem;
    }
}