.multi-stepfom-container {
    width: 1000px;
    height: 670px;

    @include media-breakpoint-down(md) {
        width: 100%;
        height: 100%;
    }

    .form-container {
        padding: 3rem 6rem 2rem;
    }

    .form-title {

        font-size: 2rem;

    }

    .form-subtitle {
        font-size: 1rem;
    }

    .form-btn {
        padding-top: 6rem;
    }
}

//plan subscription form
.plan-icon-image {
    height: 30px;
    width: 30px;
}

.radio:checked {
    &~label {
        .card {
            border-color: $primary;
            background-color: $magnolia;
        }
    }
}


// subscription plan
.change-plan {
    color: $cool-grey;

    &:hover {
        color: $secondary;
    }
}

// addons checkbox
.check-row {
    border: 1px solid $light-grey;

    &:hover {
        border-color: $secondary;
    }
}