#sidebar {
    flex: 0 0 $sidebar-width;

    @include media-breakpoint-down(md) {
        flex: 0 0 172px;

    }

    .sidebar-bg {
        background-image: url('../../images/bg-sidebar-desktop.svg');
        background-size: cover;
        border-radius: 0.5rem;

        @include media-breakpoint-down(md) {
            background-image: url('../../images/bg-sidebar-mobile.svg');
            border-radius: 0;
        }
    }

    .step {
        flex: 0 0 50px;
        color: $light;

        .step-circle {
            height: 30px;
            width: 30px;

            &.active {
                background-color: $success;
                color: $primary;
            }
        }

    }

    .step-name {
        letter-spacing: 1px;
    }
}